<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.CasePatientDiagnosisMapper">
	<resultMap id="BaseResultMap"
		type="com.ncme.springboot.model.CasePatientDiagnosis">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="PATIENTID" jdbcType="INTEGER" property="patientid" />
		<result column="DIAGNOSIS" jdbcType="VARCHAR" property="diagnosis" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, PATIENTID, DIAGNOSIS
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from case_patient_diagnosis
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		case_patient_diagnosis
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.CasePatientDiagnosis">
		insert into
		case_patient_diagnosis (ID, PATIENTID, DIAGNOSIS
		)
		values
		(#{id,jdbcType=INTEGER}, #{patientid,jdbcType=INTEGER},
		#{diagnosis,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.CasePatientDiagnosis">
		insert into case_patient_diagnosis
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="patientid != null">
				PATIENTID,
			</if>
			<if test="diagnosis != null">
				DIAGNOSIS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="patientid != null">
				#{patientid,jdbcType=INTEGER},
			</if>
			<if test="diagnosis != null">
				#{diagnosis,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.CasePatientDiagnosis">
		update case_patient_diagnosis
		<set>
			<if test="patientid != null">
				PATIENTID = #{patientid,jdbcType=INTEGER},
			</if>
			<if test="diagnosis != null">
				DIAGNOSIS = #{diagnosis,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.CasePatientDiagnosis">
		update
		case_patient_diagnosis
		set PATIENTID = #{patientid,jdbcType=INTEGER},
		DIAGNOSIS = #{diagnosis,jdbcType=VARCHAR}
		where ID =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>