<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.ExamQuestionTypeMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.ExamQuestionType">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
		<result column="SUB_SYS_ID" jdbcType="INTEGER" property="subSysId" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="CODE" jdbcType="VARCHAR" property="code" />
		<result column="SEQ" jdbcType="INTEGER" property="seq" />
		<result column="STATE" jdbcType="INTEGER" property="state" />
		<result column="LAYER" jdbcType="INTEGER" property="layer" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, PARENT_ID, SUB_SYS_ID, NAME, CODE, SEQ, STATE, LAYER,
		REMARK
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from exam_question_type
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		exam_question_type
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.ExamQuestionType">
		insert into exam_question_type
		(ID, PARENT_ID, SUB_SYS_ID,
		NAME, CODE, SEQ, STATE,
		LAYER, REMARK)
		values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER},
		#{subSysId,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER},
		#{state,jdbcType=INTEGER},
		#{layer,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.ExamQuestionType">
		insert into exam_question_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
			<if test="subSysId != null">
				SUB_SYS_ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="code != null">
				CODE,
			</if>
			<if test="seq != null">
				SEQ,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="layer != null">
				LAYER,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="subSysId != null">
				#{subSysId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				#{seq,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="layer != null">
				#{layer,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.ExamQuestionType">
		update exam_question_type
		<set>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="subSysId != null">
				SUB_SYS_ID = #{subSysId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				CODE = #{code,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				SEQ = #{seq,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=INTEGER},
			</if>
			<if test="layer != null">
				LAYER = #{layer,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.ExamQuestionType">
		update
		exam_question_type
		set PARENT_ID = #{parentId,jdbcType=INTEGER},
		SUB_SYS_ID = #{subSysId,jdbcType=INTEGER},
		NAME =
		#{name,jdbcType=VARCHAR},
		CODE = #{code,jdbcType=VARCHAR},
		SEQ =
		#{seq,jdbcType=INTEGER},
		STATE = #{state,jdbcType=INTEGER},
		LAYER =
		#{layer,jdbcType=INTEGER},
		REMARK = #{remark,jdbcType=VARCHAR}
		where ID
		= #{id,jdbcType=INTEGER}
	</update>
</mapper>