<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.ExamQuestionIcd10Mapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.ExamQuestionIcd10">
		<result column="QUESTION_ID" jdbcType="INTEGER" property="questionId" />
		<result column="PROP_VAL_ID" jdbcType="INTEGER" property="propValId" />
	</resultMap>
	<insert id="insert" parameterType="com.ncme.springboot.model.ExamQuestionIcd10">
		insert into
		exam_question_icd10 (QUESTION_ID, PROP_VAL_ID)
		values
		(#{questionId,jdbcType=INTEGER}, #{propValId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.ExamQuestionIcd10">
		insert into exam_question_icd10
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="questionId != null">
				QUESTION_ID,
			</if>
			<if test="propValId != null">
				PROP_VAL_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="questionId != null">
				#{questionId,jdbcType=INTEGER},
			</if>
			<if test="propValId != null">
				#{propValId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>