<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.IcmeSitePositionMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.IcmeSitePosition">
		<result column="SITE_ID" jdbcType="INTEGER" property="siteId" />
		<result column="POSITION_ID" jdbcType="INTEGER" property="positionId" />
	</resultMap>
	<insert id="insert" parameterType="com.ncme.springboot.model.IcmeSitePosition">
		insert into icme_site_position
		(SITE_ID, POSITION_ID)
		values (#{siteId,jdbcType=INTEGER},
		#{positionId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.IcmeSitePosition">
		insert into icme_site_position
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="siteId != null">
				SITE_ID,
			</if>
			<if test="positionId != null">
				POSITION_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="siteId != null">
				#{siteId,jdbcType=INTEGER},
			</if>
			<if test="positionId != null">
				#{positionId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>