<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.IcmeUserTypeMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.IcmeUserType">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="USER_TYPE_NAME" jdbcType="VARCHAR" property="userTypeName" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, USER_TYPE_NAME
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from icme_user_type
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from icme_user_type
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.IcmeUserType">
		insert into icme_user_type (ID, USER_TYPE_NAME)
		values (#{id,jdbcType=INTEGER}, #{userTypeName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.IcmeUserType">
		insert into icme_user_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userTypeName != null">
				USER_TYPE_NAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userTypeName != null">
				#{userTypeName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.IcmeUserType">
		update icme_user_type
		<set>
			<if test="userTypeName != null">
				USER_TYPE_NAME = #{userTypeName,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.IcmeUserType">
		update icme_user_type
		set USER_TYPE_NAME = #{userTypeName,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>