<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.IcmeUserQaStatusMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.IcmeUserQaStatus">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="ICME_USER_ID" jdbcType="INTEGER" property="icmeUserId" />
		<result column="YEAR_ID" jdbcType="INTEGER" property="yearId" />
		<result column="QA_STATUS" jdbcType="INTEGER" property="qaStatus" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="ORG_ID" jdbcType="INTEGER" property="orgId" />
		<result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="LAST_UPDATE_DATE" jdbcType="DATE" property="lastUpdateDate" />
		<result column="LAST_UPDATE_USER_ID" jdbcType="INTEGER"
			property="lastUpdateUserId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ICME_USER_ID, YEAR_ID, QA_STATUS, CREATE_DATE, ORG_ID,
		CREATE_USER_ID, REMARK,
		LAST_UPDATE_DATE, LAST_UPDATE_USER_ID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from icme_user_qa_status
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from icme_user_qa_status
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.IcmeUserQaStatus">
		insert into icme_user_qa_status (ID, ICME_USER_ID, YEAR_ID,
		QA_STATUS, CREATE_DATE, ORG_ID,
		CREATE_USER_ID, REMARK, LAST_UPDATE_DATE,
		LAST_UPDATE_USER_ID)
		values (#{id,jdbcType=INTEGER}, #{icmeUserId,jdbcType=INTEGER},
		#{yearId,jdbcType=INTEGER},
		#{qaStatus,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{orgId,jdbcType=INTEGER},
		#{createUserId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
		#{lastUpdateDate,jdbcType=DATE},
		#{lastUpdateUserId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.IcmeUserQaStatus">
		insert into icme_user_qa_status
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="icmeUserId != null">
				ICME_USER_ID,
			</if>
			<if test="yearId != null">
				YEAR_ID,
			</if>
			<if test="qaStatus != null">
				QA_STATUS,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="orgId != null">
				ORG_ID,
			</if>
			<if test="createUserId != null">
				CREATE_USER_ID,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE,
			</if>
			<if test="lastUpdateUserId != null">
				LAST_UPDATE_USER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="icmeUserId != null">
				#{icmeUserId,jdbcType=INTEGER},
			</if>
			<if test="yearId != null">
				#{yearId,jdbcType=INTEGER},
			</if>
			<if test="qaStatus != null">
				#{qaStatus,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=INTEGER},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=DATE},
			</if>
			<if test="lastUpdateUserId != null">
				#{lastUpdateUserId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.IcmeUserQaStatus">
		update icme_user_qa_status
		<set>
			<if test="icmeUserId != null">
				ICME_USER_ID = #{icmeUserId,jdbcType=INTEGER},
			</if>
			<if test="yearId != null">
				YEAR_ID = #{yearId,jdbcType=INTEGER},
			</if>
			<if test="qaStatus != null">
				QA_STATUS = #{qaStatus,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="orgId != null">
				ORG_ID = #{orgId,jdbcType=INTEGER},
			</if>
			<if test="createUserId != null">
				CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
			</if>
			<if test="lastUpdateUserId != null">
				LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.IcmeUserQaStatus">
		update icme_user_qa_status
		set ICME_USER_ID = #{icmeUserId,jdbcType=INTEGER},
		YEAR_ID = #{yearId,jdbcType=INTEGER},
		QA_STATUS = #{qaStatus,jdbcType=INTEGER},
		CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
		ORG_ID = #{orgId,jdbcType=INTEGER},
		CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
		REMARK = #{remark,jdbcType=VARCHAR},
		LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
		LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>