<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.IcmeQaStandardUserFlagMapper">
	<resultMap id="BaseResultMap"
		type="com.ncme.springboot.model.IcmeQaStandardUserFlag">
		<result column="QA_STANDARD_ID" jdbcType="INTEGER" property="qaStandardId" />
		<result column="USER_FLAG" jdbcType="INTEGER" property="userFlag" />
	</resultMap>
	<insert id="insert" parameterType="com.ncme.springboot.model.IcmeQaStandardUserFlag">
		insert into
		icme_qa_standard_user_flag (QA_STANDARD_ID, USER_FLAG)
		values
		(#{qaStandardId,jdbcType=INTEGER}, #{userFlag,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.IcmeQaStandardUserFlag">
		insert into icme_qa_standard_user_flag
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="qaStandardId != null">
				QA_STANDARD_ID,
			</if>
			<if test="userFlag != null">
				USER_FLAG,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="qaStandardId != null">
				#{qaStandardId,jdbcType=INTEGER},
			</if>
			<if test="userFlag != null">
				#{userFlag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>