<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.IcmeCmsNewsMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.IcmeCmsNews">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="TITLE" jdbcType="VARCHAR" property="title" />
		<result column="SUMMARY" jdbcType="VARCHAR" property="summary" />
		<result column="TYPE" jdbcType="INTEGER" property="type" />
		<result column="KEYWORDS" jdbcType="VARCHAR" property="keywords" />
		<result column="ORIGINAL" jdbcType="VARCHAR" property="original" />
		<result column="AUTHOR" jdbcType="VARCHAR" property="author" />
		<result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
		<result column="EDIT_DATE" jdbcType="DATE" property="editDate" />
		<result column="IMG" jdbcType="VARCHAR" property="img" />
		<result column="LINK_URL" jdbcType="VARCHAR" property="linkUrl" />
		<result column="CATEGORY_ID" jdbcType="INTEGER" property="categoryId" />
		<result column="RECEIVER_TYPE" jdbcType="INTEGER" property="receiverType" />
		<result column="ORG_ID" jdbcType="INTEGER" property="orgId" />
		<result column="RECEIVE_ORG_IDS" jdbcType="VARCHAR" property="receiveOrgIds" />
		<result column="RECEIVE_ORG_NAMES" jdbcType="VARCHAR" property="receiveOrgNames" />
		<result column="STATUS" jdbcType="INTEGER" property="status" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.ncme.springboot.model.IcmeCmsNews">
		<result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, TITLE, SUMMARY, TYPE, KEYWORDS, ORIGINAL, AUTHOR,
		CREATE_DATE,
		EDIT_DATE, IMG,
		LINK_URL, CATEGORY_ID, RECEIVER_TYPE,
		ORG_ID, RECEIVE_ORG_IDS,
		RECEIVE_ORG_NAMES,
		STATUS
	</sql>
	<sql id="Blob_Column_List">
		CONTENT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from icme_cms_news
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		icme_cms_news
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.IcmeCmsNews">
		insert into icme_cms_news (ID,
		TITLE, SUMMARY,
		TYPE, KEYWORDS, ORIGINAL,
		AUTHOR, CREATE_DATE,
		EDIT_DATE,
		IMG, LINK_URL, CATEGORY_ID,
		RECEIVER_TYPE, ORG_ID,
		RECEIVE_ORG_IDS,
		RECEIVE_ORG_NAMES, STATUS, CONTENT
		)
		values
		(#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
		#{summary,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER},
		#{keywords,jdbcType=VARCHAR}, #{original,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE},
		#{editDate,jdbcType=DATE},
		#{img,jdbcType=VARCHAR},
		#{linkUrl,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER},
		#{receiverType,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER},
		#{receiveOrgIds,jdbcType=VARCHAR},
		#{receiveOrgNames,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{content,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.IcmeCmsNews">
		insert into icme_cms_news
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="title != null">
				TITLE,
			</if>
			<if test="summary != null">
				SUMMARY,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="keywords != null">
				KEYWORDS,
			</if>
			<if test="original != null">
				ORIGINAL,
			</if>
			<if test="author != null">
				AUTHOR,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="editDate != null">
				EDIT_DATE,
			</if>
			<if test="img != null">
				IMG,
			</if>
			<if test="linkUrl != null">
				LINK_URL,
			</if>
			<if test="categoryId != null">
				CATEGORY_ID,
			</if>
			<if test="receiverType != null">
				RECEIVER_TYPE,
			</if>
			<if test="orgId != null">
				ORG_ID,
			</if>
			<if test="receiveOrgIds != null">
				RECEIVE_ORG_IDS,
			</if>
			<if test="receiveOrgNames != null">
				RECEIVE_ORG_NAMES,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="content != null">
				CONTENT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				#{summary,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="keywords != null">
				#{keywords,jdbcType=VARCHAR},
			</if>
			<if test="original != null">
				#{original,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=DATE},
			</if>
			<if test="editDate != null">
				#{editDate,jdbcType=DATE},
			</if>
			<if test="img != null">
				#{img,jdbcType=VARCHAR},
			</if>
			<if test="linkUrl != null">
				#{linkUrl,jdbcType=VARCHAR},
			</if>
			<if test="categoryId != null">
				#{categoryId,jdbcType=INTEGER},
			</if>
			<if test="receiverType != null">
				#{receiverType,jdbcType=INTEGER},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=INTEGER},
			</if>
			<if test="receiveOrgIds != null">
				#{receiveOrgIds,jdbcType=VARCHAR},
			</if>
			<if test="receiveOrgNames != null">
				#{receiveOrgNames,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.IcmeCmsNews">
		update icme_cms_news
		<set>
			<if test="title != null">
				TITLE = #{title,jdbcType=VARCHAR},
			</if>
			<if test="summary != null">
				SUMMARY = #{summary,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=INTEGER},
			</if>
			<if test="keywords != null">
				KEYWORDS = #{keywords,jdbcType=VARCHAR},
			</if>
			<if test="original != null">
				ORIGINAL = #{original,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				AUTHOR = #{author,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=DATE},
			</if>
			<if test="editDate != null">
				EDIT_DATE = #{editDate,jdbcType=DATE},
			</if>
			<if test="img != null">
				IMG = #{img,jdbcType=VARCHAR},
			</if>
			<if test="linkUrl != null">
				LINK_URL = #{linkUrl,jdbcType=VARCHAR},
			</if>
			<if test="categoryId != null">
				CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
			</if>
			<if test="receiverType != null">
				RECEIVER_TYPE = #{receiverType,jdbcType=INTEGER},
			</if>
			<if test="orgId != null">
				ORG_ID = #{orgId,jdbcType=INTEGER},
			</if>
			<if test="receiveOrgIds != null">
				RECEIVE_ORG_IDS = #{receiveOrgIds,jdbcType=VARCHAR},
			</if>
			<if test="receiveOrgNames != null">
				RECEIVE_ORG_NAMES = #{receiveOrgNames,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				CONTENT = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ncme.springboot.model.IcmeCmsNews">
		update
		icme_cms_news
		set TITLE = #{title,jdbcType=VARCHAR},
		SUMMARY =
		#{summary,jdbcType=VARCHAR},
		TYPE = #{type,jdbcType=INTEGER},
		KEYWORDS =
		#{keywords,jdbcType=VARCHAR},
		ORIGINAL = #{original,jdbcType=VARCHAR},
		AUTHOR = #{author,jdbcType=VARCHAR},
		CREATE_DATE =
		#{createDate,jdbcType=DATE},
		EDIT_DATE = #{editDate,jdbcType=DATE},
		IMG
		= #{img,jdbcType=VARCHAR},
		LINK_URL = #{linkUrl,jdbcType=VARCHAR},
		CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
		RECEIVER_TYPE =
		#{receiverType,jdbcType=INTEGER},
		ORG_ID = #{orgId,jdbcType=INTEGER},
		RECEIVE_ORG_IDS = #{receiveOrgIds,jdbcType=VARCHAR},
		RECEIVE_ORG_NAMES
		= #{receiveOrgNames,jdbcType=VARCHAR},
		STATUS =
		#{status,jdbcType=INTEGER},
		CONTENT = #{content,jdbcType=LONGVARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.IcmeCmsNews">
		update
		icme_cms_news
		set TITLE = #{title,jdbcType=VARCHAR},
		SUMMARY =
		#{summary,jdbcType=VARCHAR},
		TYPE = #{type,jdbcType=INTEGER},
		KEYWORDS =
		#{keywords,jdbcType=VARCHAR},
		ORIGINAL = #{original,jdbcType=VARCHAR},
		AUTHOR = #{author,jdbcType=VARCHAR},
		CREATE_DATE =
		#{createDate,jdbcType=DATE},
		EDIT_DATE = #{editDate,jdbcType=DATE},
		IMG
		= #{img,jdbcType=VARCHAR},
		LINK_URL = #{linkUrl,jdbcType=VARCHAR},
		CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
		RECEIVER_TYPE =
		#{receiverType,jdbcType=INTEGER},
		ORG_ID = #{orgId,jdbcType=INTEGER},
		RECEIVE_ORG_IDS = #{receiveOrgIds,jdbcType=VARCHAR},
		RECEIVE_ORG_NAMES
		= #{receiveOrgNames,jdbcType=VARCHAR},
		STATUS =
		#{status,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>