<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.IcmeProjectScoreLogMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.IcmeProjectScoreLog">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="PROJECT_SCORE" jdbcType="INTEGER" property="projectScore" />
		<result column="FROM_ORG_ID" jdbcType="INTEGER" property="fromOrgId" />
		<result column="TO_ORG_ID" jdbcType="INTEGER" property="toOrgId" />
		<result column="CHECK_FLAG" jdbcType="INTEGER" property="checkFlag" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, PROJECT_SCORE, FROM_ORG_ID, TO_ORG_ID, CHECK_FLAG,
		REMARK,
		CREATE_DATE
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from icme_project_score_log
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		icme_project_score_log
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.IcmeProjectScoreLog">
		insert into
		icme_project_score_log (ID, PROJECT_SCORE, FROM_ORG_ID,
		TO_ORG_ID,
		CHECK_FLAG, REMARK,
		CREATE_DATE)
		values (#{id,jdbcType=INTEGER},
		#{projectScore,jdbcType=INTEGER},
		#{fromOrgId,jdbcType=INTEGER},
		#{toOrgId,jdbcType=INTEGER}, #{checkFlag,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.IcmeProjectScoreLog">
		insert into icme_project_score_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="projectScore != null">
				PROJECT_SCORE,
			</if>
			<if test="fromOrgId != null">
				FROM_ORG_ID,
			</if>
			<if test="toOrgId != null">
				TO_ORG_ID,
			</if>
			<if test="checkFlag != null">
				CHECK_FLAG,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="projectScore != null">
				#{projectScore,jdbcType=INTEGER},
			</if>
			<if test="fromOrgId != null">
				#{fromOrgId,jdbcType=INTEGER},
			</if>
			<if test="toOrgId != null">
				#{toOrgId,jdbcType=INTEGER},
			</if>
			<if test="checkFlag != null">
				#{checkFlag,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.IcmeProjectScoreLog">
		update icme_project_score_log
		<set>
			<if test="projectScore != null">
				PROJECT_SCORE = #{projectScore,jdbcType=INTEGER},
			</if>
			<if test="fromOrgId != null">
				FROM_ORG_ID = #{fromOrgId,jdbcType=INTEGER},
			</if>
			<if test="toOrgId != null">
				TO_ORG_ID = #{toOrgId,jdbcType=INTEGER},
			</if>
			<if test="checkFlag != null">
				CHECK_FLAG = #{checkFlag,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.IcmeProjectScoreLog">
		update
		icme_project_score_log
		set PROJECT_SCORE =
		#{projectScore,jdbcType=INTEGER},
		FROM_ORG_ID =
		#{fromOrgId,jdbcType=INTEGER},
		TO_ORG_ID = #{toOrgId,jdbcType=INTEGER},
		CHECK_FLAG = #{checkFlag,jdbcType=INTEGER},
		REMARK =
		#{remark,jdbcType=VARCHAR},
		CREATE_DATE =
		#{createDate,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>