<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.LogStudyCvMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.LogStudyCv">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="SYSTEM_USER_ID" jdbcType="INTEGER" property="systemUserId" />
		<result column="CV_SET_ID" jdbcType="INTEGER" property="cvSetId" />
		<result column="CV_ID" jdbcType="INTEGER" property="cvId" />
		<result column="STATE" jdbcType="INTEGER" property="state" />
		<result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP"
			property="lastUpdateDate" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, SYSTEM_USER_ID, CV_SET_ID, CV_ID, STATE, LAST_UPDATE_DATE
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from log_study_cv
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from log_study_cv
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.LogStudyCv">
		insert into log_study_cv (ID, SYSTEM_USER_ID, CV_SET_ID,
		CV_ID, STATE, LAST_UPDATE_DATE
		)
		values (#{id,jdbcType=INTEGER}, #{systemUserId,jdbcType=INTEGER},
		#{cvSetId,jdbcType=INTEGER},
		#{cvId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{lastUpdateDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.LogStudyCv">
		insert into log_study_cv
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="systemUserId != null">
				SYSTEM_USER_ID,
			</if>
			<if test="cvSetId != null">
				CV_SET_ID,
			</if>
			<if test="cvId != null">
				CV_ID,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="systemUserId != null">
				#{systemUserId,jdbcType=INTEGER},
			</if>
			<if test="cvSetId != null">
				#{cvSetId,jdbcType=INTEGER},
			</if>
			<if test="cvId != null">
				#{cvId,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.LogStudyCv">
		update log_study_cv
		<set>
			<if test="systemUserId != null">
				SYSTEM_USER_ID = #{systemUserId,jdbcType=INTEGER},
			</if>
			<if test="cvSetId != null">
				CV_SET_ID = #{cvSetId,jdbcType=INTEGER},
			</if>
			<if test="cvId != null">
				CV_ID = #{cvId,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.LogStudyCv">
		update log_study_cv
		set SYSTEM_USER_ID = #{systemUserId,jdbcType=INTEGER},
		CV_SET_ID = #{cvSetId,jdbcType=INTEGER},
		CV_ID = #{cvId,jdbcType=INTEGER},
		STATE = #{state,jdbcType=INTEGER},
		LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<!-- 根据用户id和课程id查询课程学习记录表 -->
	<select id="getLogStudyCvByUserIdAndCvId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from log_study_cv
		where SYSTEM_USER_ID = #{userId,jdbcType=INTEGER} and CV_ID =
		#{cvId,jdbcType=INTEGER}
	</select>
</mapper>