<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.LogStudyCvUnitExamMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.LogStudyCvUnitExam">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="LOG_STUDY_CV_UNIT_ID" jdbcType="INTEGER"
			property="logStudyCvUnitId" />
		<result column="SYSTEM_USER_ID" jdbcType="INTEGER" property="systemUserId" />
		<result column="CV_ID" jdbcType="INTEGER" property="cvId" />
		<result column="CV_UNIT_ID" jdbcType="INTEGER" property="cvUnitId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, LOG_STUDY_CV_UNIT_ID, SYSTEM_USER_ID, CV_ID, CV_UNIT_ID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from log_study_cv_unit_exam
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from log_study_cv_unit_exam
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.LogStudyCvUnitExam">
		insert into log_study_cv_unit_exam (ID, LOG_STUDY_CV_UNIT_ID,
		SYSTEM_USER_ID,
		CV_ID, CV_UNIT_ID)
		values (#{id,jdbcType=INTEGER}, #{logStudyCvUnitId,jdbcType=INTEGER},
		#{systemUserId,jdbcType=INTEGER},
		#{cvId,jdbcType=INTEGER}, #{cvUnitId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.LogStudyCvUnitExam">
		insert into log_study_cv_unit_exam
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="logStudyCvUnitId != null">
				LOG_STUDY_CV_UNIT_ID,
			</if>
			<if test="systemUserId != null">
				SYSTEM_USER_ID,
			</if>
			<if test="cvId != null">
				CV_ID,
			</if>
			<if test="cvUnitId != null">
				CV_UNIT_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="logStudyCvUnitId != null">
				#{logStudyCvUnitId,jdbcType=INTEGER},
			</if>
			<if test="systemUserId != null">
				#{systemUserId,jdbcType=INTEGER},
			</if>
			<if test="cvId != null">
				#{cvId,jdbcType=INTEGER},
			</if>
			<if test="cvUnitId != null">
				#{cvUnitId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.LogStudyCvUnitExam">
		update log_study_cv_unit_exam
		<set>
			<if test="logStudyCvUnitId != null">
				LOG_STUDY_CV_UNIT_ID = #{logStudyCvUnitId,jdbcType=INTEGER},
			</if>
			<if test="systemUserId != null">
				SYSTEM_USER_ID = #{systemUserId,jdbcType=INTEGER},
			</if>
			<if test="cvId != null">
				CV_ID = #{cvId,jdbcType=INTEGER},
			</if>
			<if test="cvUnitId != null">
				CV_UNIT_ID = #{cvUnitId,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.LogStudyCvUnitExam">
		update log_study_cv_unit_exam
		set LOG_STUDY_CV_UNIT_ID = #{logStudyCvUnitId,jdbcType=INTEGER},
		SYSTEM_USER_ID = #{systemUserId,jdbcType=INTEGER},
		CV_ID = #{cvId,jdbcType=INTEGER},
		CV_UNIT_ID = #{cvUnitId,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>