<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.NcmeManageLogFuncMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.NcmeManageLogFunc">
		<result column="FUNC" jdbcType="VARCHAR" property="func" />
	</resultMap>
	<insert id="insert" parameterType="com.ncme.springboot.model.NcmeManageLogFunc">
		insert into ncme_manage_log_func (FUNC)
		values (#{func,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.NcmeManageLogFunc">
		insert into ncme_manage_log_func
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="func != null">
				FUNC,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="func != null">
				#{func,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>