<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.QmGuideMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.QmGuide">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="QUALITY_ID" jdbcType="INTEGER" property="qualityId" />
		<result column="LEVEL" jdbcType="INTEGER" property="level" />
		<result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, QUALITY_ID, LEVEL, PARENT_ID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from qm_guide
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from qm_guide
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.QmGuide">
		insert into qm_guide (ID, NAME, QUALITY_ID,
		LEVEL, PARENT_ID)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{qualityId,jdbcType=INTEGER},
		#{level,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.QmGuide">
		insert into qm_guide
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="qualityId != null">
				QUALITY_ID,
			</if>
			<if test="level != null">
				LEVEL,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="qualityId != null">
				#{qualityId,jdbcType=INTEGER},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.QmGuide">
		update qm_guide
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="qualityId != null">
				QUALITY_ID = #{qualityId,jdbcType=INTEGER},
			</if>
			<if test="level != null">
				LEVEL = #{level,jdbcType=INTEGER},
			</if>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.QmGuide">
		update qm_guide
		set NAME = #{name,jdbcType=VARCHAR},
		QUALITY_ID = #{qualityId,jdbcType=INTEGER},
		LEVEL = #{level,jdbcType=INTEGER},
		PARENT_ID = #{parentId,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>