<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.QmGuideImagePropMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.QmGuideImagePropKey">
		<id column="GUIDE_ID" jdbcType="INTEGER" property="guideId" />
		<id column="USERIMAGE_ID" jdbcType="INTEGER" property="userimageId" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="com.ncme.springboot.model.QmGuideImagePropKey">
		delete from qm_guide_image_prop
		where GUIDE_ID = #{guideId,jdbcType=INTEGER}
		and USERIMAGE_ID = #{userimageId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.QmGuideImagePropKey">
		insert into qm_guide_image_prop (GUIDE_ID, USERIMAGE_ID)
		values (#{guideId,jdbcType=INTEGER}, #{userimageId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.QmGuideImagePropKey">
		insert into qm_guide_image_prop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="guideId != null">
				GUIDE_ID,
			</if>
			<if test="userimageId != null">
				USERIMAGE_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="guideId != null">
				#{guideId,jdbcType=INTEGER},
			</if>
			<if test="userimageId != null">
				#{userimageId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>