<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.QmGuidePropMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.QmGuideProp">
		<result column="GUIDE_ID" jdbcType="INTEGER" property="guideId" />
		<result column="PROP_ID" jdbcType="INTEGER" property="propId" />
	</resultMap>
	<insert id="insert" parameterType="com.ncme.springboot.model.QmGuideProp">
		insert into qm_guide_prop (GUIDE_ID, PROP_ID)
		values (#{guideId,jdbcType=INTEGER}, #{propId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.QmGuideProp">
		insert into qm_guide_prop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="guideId != null">
				GUIDE_ID,
			</if>
			<if test="propId != null">
				PROP_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="guideId != null">
				#{guideId,jdbcType=INTEGER},
			</if>
			<if test="propId != null">
				#{propId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>