<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.QuestSooAtSqlStmtPiecesMapper">
	<resultMap id="BaseResultMap"
		type="com.ncme.springboot.model.QuestSooAtSqlStmtPieces">
		<result column="TRACE_FILE_ID" jdbcType="INTEGER" property="traceFileId" />
		<result column="SQL_ID" jdbcType="INTEGER" property="sqlId" />
		<result column="PIECE_NO" jdbcType="INTEGER" property="pieceNo" />
		<result column="SQL_TEXT" jdbcType="VARCHAR" property="sqlText" />
	</resultMap>
	<insert id="insert" parameterType="com.ncme.springboot.model.QuestSooAtSqlStmtPieces">
		insert into quest_soo_at_sql_stmt_pieces (TRACE_FILE_ID, SQL_ID, PIECE_NO,
		SQL_TEXT)
		values (#{traceFileId,jdbcType=INTEGER}, #{sqlId,jdbcType=INTEGER},
		#{pieceNo,jdbcType=INTEGER},
		#{sqlText,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.QuestSooAtSqlStmtPieces">
		insert into quest_soo_at_sql_stmt_pieces
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="traceFileId != null">
				TRACE_FILE_ID,
			</if>
			<if test="sqlId != null">
				SQL_ID,
			</if>
			<if test="pieceNo != null">
				PIECE_NO,
			</if>
			<if test="sqlText != null">
				SQL_TEXT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="traceFileId != null">
				#{traceFileId,jdbcType=INTEGER},
			</if>
			<if test="sqlId != null">
				#{sqlId,jdbcType=INTEGER},
			</if>
			<if test="pieceNo != null">
				#{pieceNo,jdbcType=INTEGER},
			</if>
			<if test="sqlText != null">
				#{sqlText,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>