<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.QuestSooParseTimeTrackMapper">
	<resultMap id="BaseResultMap"
		type="com.ncme.springboot.model.QuestSooParseTimeTrack">
		<result column="PARSE_TIME_ELAPSED" jdbcType="INTEGER"
			property="parseTimeElapsed" />
		<result column="TIME_STAMP" jdbcType="DATE" property="timeStamp" />
	</resultMap>
	<insert id="insert" parameterType="com.ncme.springboot.model.QuestSooParseTimeTrack">
		insert into quest_soo_parse_time_track (PARSE_TIME_ELAPSED, TIME_STAMP)
		values (#{parseTimeElapsed,jdbcType=INTEGER},
		#{timeStamp,jdbcType=DATE})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.QuestSooParseTimeTrack">
		insert into quest_soo_parse_time_track
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="parseTimeElapsed != null">
				PARSE_TIME_ELAPSED,
			</if>
			<if test="timeStamp != null">
				TIME_STAMP,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="parseTimeElapsed != null">
				#{parseTimeElapsed,jdbcType=INTEGER},
			</if>
			<if test="timeStamp != null">
				#{timeStamp,jdbcType=DATE},
			</if>
		</trim>
	</insert>
</mapper>