<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.SystemSiteMapper">
	<resultMap id="BaseResultMap" type="com.ncme.springboot.model.SystemSite">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="DOMAIN_NAME" jdbcType="VARCHAR" property="domainName" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="CLIENT_ID" jdbcType="INTEGER" property="clientId" />
		<result column="APPLICATION_ID" jdbcType="INTEGER" property="applicationId" />
		<result column="STATUS" jdbcType="INTEGER" property="status" />
		<result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
		<result column="SITE_DIR" jdbcType="VARCHAR" property="siteDir" />
		<result column="ALIAS_NAME" jdbcType="VARCHAR" property="aliasName" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, DOMAIN_NAME, REMARK, CLIENT_ID, APPLICATION_ID, STATUS, ROLE_ID,
		SITE_DIR, ALIAS_NAME
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from system_site
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from system_site
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.SystemSite">
		insert into system_site (ID, DOMAIN_NAME, REMARK,
		CLIENT_ID, APPLICATION_ID, STATUS,
		ROLE_ID, SITE_DIR, ALIAS_NAME
		)
		values (#{id,jdbcType=INTEGER}, #{domainName,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{clientId,jdbcType=INTEGER}, #{applicationId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{roleId,jdbcType=INTEGER}, #{siteDir,jdbcType=VARCHAR},
		#{aliasName,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.SystemSite">
		insert into system_site
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="domainName != null">
				DOMAIN_NAME,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="clientId != null">
				CLIENT_ID,
			</if>
			<if test="applicationId != null">
				APPLICATION_ID,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="roleId != null">
				ROLE_ID,
			</if>
			<if test="siteDir != null">
				SITE_DIR,
			</if>
			<if test="aliasName != null">
				ALIAS_NAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="domainName != null">
				#{domainName,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="clientId != null">
				#{clientId,jdbcType=INTEGER},
			</if>
			<if test="applicationId != null">
				#{applicationId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="siteDir != null">
				#{siteDir,jdbcType=VARCHAR},
			</if>
			<if test="aliasName != null">
				#{aliasName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.SystemSite">
		update system_site
		<set>
			<if test="domainName != null">
				DOMAIN_NAME = #{domainName,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="clientId != null">
				CLIENT_ID = #{clientId,jdbcType=INTEGER},
			</if>
			<if test="applicationId != null">
				APPLICATION_ID = #{applicationId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				ROLE_ID = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="siteDir != null">
				SITE_DIR = #{siteDir,jdbcType=VARCHAR},
			</if>
			<if test="aliasName != null">
				ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.SystemSite">
		update system_site
		set DOMAIN_NAME = #{domainName,jdbcType=VARCHAR},
		REMARK = #{remark,jdbcType=VARCHAR},
		CLIENT_ID = #{clientId,jdbcType=INTEGER},
		APPLICATION_ID = #{applicationId,jdbcType=INTEGER},
		STATUS = #{status,jdbcType=INTEGER},
		ROLE_ID = #{roleId,jdbcType=INTEGER},
		SITE_DIR = #{siteDir,jdbcType=VARCHAR},
		ALIAS_NAME = #{aliasName,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>