<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.SystemUserPropValMapper">
	<resultMap id="BaseResultMap"
		type="com.ncme.springboot.model.SystemUserPropValKey">
		<id column="USER_ID" jdbcType="INTEGER" property="userId" />
		<id column="PROP_ID" jdbcType="INTEGER" property="propId" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="com.ncme.springboot.model.SystemUserPropValKey">
		delete from system_user_prop_val
		where USER_ID = #{userId,jdbcType=INTEGER}
		and PROP_ID = #{propId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.SystemUserPropValKey">
		insert into system_user_prop_val (USER_ID, PROP_ID)
		values (#{userId,jdbcType=INTEGER}, #{propId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.SystemUserPropValKey">
		insert into system_user_prop_val
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="propId != null">
				PROP_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="propId != null">
				#{propId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>