<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.SystemCardCreateRecordMapper">
	<resultMap id="BaseResultMap"
		type="com.ncme.springboot.model.SystemCardCreateRecord">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="CARD_START_INT" jdbcType="VARCHAR" property="cardStartInt" />
		<result column="CARD_END_INT" jdbcType="VARCHAR" property="cardEndInt" />
		<result column="CARD_SUM" jdbcType="INTEGER" property="cardSum" />
		<result column="CARD_USERD_SUM" jdbcType="INTEGER" property="cardUserdSum" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CARD_START_INT, CARD_END_INT, CARD_SUM, CARD_USERD_SUM, CREATE_DATE,
		DESCRIPTION
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from system_card_create_record
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from system_card_create_record
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.SystemCardCreateRecord">
		insert into system_card_create_record (ID, CARD_START_INT, CARD_END_INT,
		CARD_SUM, CARD_USERD_SUM, CREATE_DATE,
		DESCRIPTION)
		values (#{id,jdbcType=INTEGER}, #{cardStartInt,jdbcType=VARCHAR},
		#{cardEndInt,jdbcType=VARCHAR},
		#{cardSum,jdbcType=INTEGER}, #{cardUserdSum,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
		#{description,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.SystemCardCreateRecord">
		insert into system_card_create_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="cardStartInt != null">
				CARD_START_INT,
			</if>
			<if test="cardEndInt != null">
				CARD_END_INT,
			</if>
			<if test="cardSum != null">
				CARD_SUM,
			</if>
			<if test="cardUserdSum != null">
				CARD_USERD_SUM,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="description != null">
				DESCRIPTION,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="cardStartInt != null">
				#{cardStartInt,jdbcType=VARCHAR},
			</if>
			<if test="cardEndInt != null">
				#{cardEndInt,jdbcType=VARCHAR},
			</if>
			<if test="cardSum != null">
				#{cardSum,jdbcType=INTEGER},
			</if>
			<if test="cardUserdSum != null">
				#{cardUserdSum,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.SystemCardCreateRecord">
		update system_card_create_record
		<set>
			<if test="cardStartInt != null">
				CARD_START_INT = #{cardStartInt,jdbcType=VARCHAR},
			</if>
			<if test="cardEndInt != null">
				CARD_END_INT = #{cardEndInt,jdbcType=VARCHAR},
			</if>
			<if test="cardSum != null">
				CARD_SUM = #{cardSum,jdbcType=INTEGER},
			</if>
			<if test="cardUserdSum != null">
				CARD_USERD_SUM = #{cardUserdSum,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				DESCRIPTION = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.SystemCardCreateRecord">
		update system_card_create_record
		set CARD_START_INT = #{cardStartInt,jdbcType=VARCHAR},
		CARD_END_INT = #{cardEndInt,jdbcType=VARCHAR},
		CARD_SUM = #{cardSum,jdbcType=INTEGER},
		CARD_USERD_SUM = #{cardUserdSum,jdbcType=INTEGER},
		CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
		DESCRIPTION = #{description,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>