<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncme.springboot.mapper.TrainContentSurveyRoleMapper">
	<resultMap id="BaseResultMap"
		type="com.ncme.springboot.model.TrainContentSurveyRole">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
		<result column="SURVEY_ID" jdbcType="INTEGER" property="surveyId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ROLE_ID, SURVEY_ID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from train_content_survey_role
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from train_content_survey_role
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ncme.springboot.model.TrainContentSurveyRole">
		insert into train_content_survey_role (ID, ROLE_ID, SURVEY_ID
		)
		values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER},
		#{surveyId,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ncme.springboot.model.TrainContentSurveyRole">
		insert into train_content_survey_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="roleId != null">
				ROLE_ID,
			</if>
			<if test="surveyId != null">
				SURVEY_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="surveyId != null">
				#{surveyId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ncme.springboot.model.TrainContentSurveyRole">
		update train_content_survey_role
		<set>
			<if test="roleId != null">
				ROLE_ID = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="surveyId != null">
				SURVEY_ID = #{surveyId,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ncme.springboot.model.TrainContentSurveyRole">
		update train_content_survey_role
		set ROLE_ID = #{roleId,jdbcType=INTEGER},
		SURVEY_ID = #{surveyId,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>